body {
    background-color: lightblue;
    border: solid red;
    margin: 22px;
    padding: 25px;
    color: white;
  }
  
  h1 {
    font-style: italic;
    text-align: center;
    font-size: 35px;
  }
  
  li {
    display: inline;
    font-size: 15px;
    margin: 3px;
    color: black;
  }
  
  a {
    color: red;
  }
  
  a:focus {
    color: white;
    text-decoration: none;
  }
  
  ul {
    text-align: center;
    font-weight: 600;
  }
  
  h2 {
    font-size: 25px;
  }
  
  img {
    width: 150px;
    float: right;
    padding: 10px;
  }
  
  footer {
    clear: both;
  }
  